h1.title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3.5rem;
}

@media screen and (min-width: 769px) {
  .pricing-table.is-comparative {
    margin: .5rem;
  }
}
.pricing-table.is-comparative .pricing-plan:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pricing-table.is-comparative .pricing-plan:not(:last-child) {
  border-right: none;
}
.pricing-table.is-comparative .pricing-plan {
  border-radius: initial;
  margin: 0;
}

.pricing-table.is-comparative .pricing-plan.is-active {
  border: .1rem solid #f5f5f5;
  border-radius: 4px;
}
.pricing-table.is-comparative .pricing-plan:not(:last-child) {
  border-right: none;
}
.pricing-table .pricing-plan.is-active {
  box-shadow: 0 8px 12px 0 rgba(122,122,122,0.2);
  transform: scale(1.05);
}
.pricing-table.is-comparative .pricing-plan {
  border-radius: initial;
  margin: 0;
}

.pricing-table .pricing-plan.is-active .plan-price .plan-price-amount {
  color: #ff3860;
}
.pricing-table .pricing-plan .plan-price .plan-price-amount {
  font-size: 2.5rem;
  font-weight: 700;
}

.pricing-table.is-comparative .pricing-plan:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pricing-table.is-comparative .pricing-plan {
  border-radius: initial;
  margin: 0;
}

.pricing-table {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
}

.pricing-table .pricing-plan {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #fff;
  border: .1rem solid #f5f5f5;
  border-radius: 4px;
  list-style-type: none;
  transition: .25s;
  margin: .5em;
}
.pricing-table .pricing-plan .plan-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 600;
  padding: .75em;
  align-content: center;
  text-align: center;
}
.pricing-table .pricing-plan .plan-price {
  background-color: #fff;
  color: #4a4a4a;
  font-size: .75rem;
  font-weight: 400;
  padding: .75em;
  align-content: center;
  text-align: center;
}

.pricing-table .pricing-plan .plan-item {
  background: #f5f5f5;
  border-bottom: .1rem solid #fff;
  padding: .75em;
  align-content: center;
  text-align: center;
  font-size: .9em;
  color: #7a7a7a;
}
